<div class="container">
    <div class="slider-container row">
        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- class of slide for animation -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- class of active since it's the first item -->
                    <img src="http://www.lorealparisusa.com/~/media/Images/LOP/HomePage/Slides/LOP_HomepageMarquee_PoreVanisher_Desktop.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="http://www.lorealparisusa.com/~/media/Images/LOP/HomePage/Slides/GoldRewards_HomepageMarquee_Desktop.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="http://www.lorealparisusa.com/~/media/Images/LOP/HomePage/Slides/HomepageMarquee_MousseAbsolue_.jpg" alt="" />
                </div>
                <div class="item">
                    <img src="http://www.lorealparisusa.com/~/media/Images/LOP/HomePage/Slides/MissManga_Homepage_Marquee.jpg" alt="" />
                </div>
            </div><!-- /.carousel-inner -->
            <!--  Next and Previous controls below
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    
    <div class="row">
    <div class="col-md-6"><img class="img-responsive" src="http://www.lorealparisusa.com/~/media/Images/LOP/Home/Brands/Makeup/Voluminous%20Miss%20Manga/MissManga_BrandTout.jpg" /></div>
    <div class="col-md-6"><img class="img-responsive" src="http://www.lorealparisusa.com/~/media/Images/LOP/Home/Brands/Skin-Care/Revitalift/Revitalift_detail.jpg" /></div>
  
</div>

    <div class="row">
    <div class="col-md-6">
        <div class="col-md-6">
            <img class="img-responsive" src="http://www.lorealparisusa.com/~/media/Images/LOP/Home/Beauty-Library/Videos/Ombr-Nails-Tutorial-with-Tom-Bachik/nail_ombre_294x294.jpg" />
        </div>
        <div class="col-md-6 center-block">
            <a href="article.html"><strong>The New Hair Care Must</strong></a>
            <h3><a href="article.html">Lea Michele’s Secret Treatment Tips</a></h3>
        </div>
    </div>
        <div class="col-md-6">
            <div class="col-md-6">
                <img class="img-responsive" src="http://www.lorealparisusa.com/~/media/Images/LOP/Home/Beauty-Library/Videos/Ombr-Nails-Tutorial-with-Tom-Bachik/nail_ombre_294x294.jpg" />
            </div>
            <div class="col-md-6 center-block">
                <a href="article.html"><strong>The New Hair Care Must</strong></a>
                <h3><a href="article.html">Lea Michele’s Secret Treatment Tips</a></h3>
            </div>
        </div>
</div>


    </div>
   