<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="HedgehogDevelopment.SitecoreProject.Service.Configuration" type="HedgehogDevelopment.SitecoreProject.Service.ServiceConfiguration, HedgehogDevelopment.SitecoreProject.Service" requirePermission="false" />
  </configSections>
  <HedgehogDevelopment.SitecoreProject.Service.Configuration accessGuid="8263f89b-de2f-4bc3-8f8f-9800e1038ee2" />
</configuration>
